* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
	background-color: #151211;
	color: white;
}

header {
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	box-shadow: 1px 0px 2px 0px grey;
	justify-content: center;
	margin-bottom: 16px;
}

img {
	width: 80%;
	margin: auto;
	display: block;
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
	text-align: center;
}

section {
	max-width: 900px;
	padding: 8px;
	margin: 16px auto;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 48px;
	gap: 16px;
}

#app {
	width: 85vmin;
  aspect-ratio: 1;
}

@media screen and (max-width:900px) {
  main {
    flex-direction: column;
  }
}

#controls {
	width: 400px;
	background-color: #262421;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}
#controls label {
	padding: 16px;
	display: flex;
	justify-content: space-between;
}

select {
	background-color: #262421;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
}

#moves {
	height: 300px;
	border-bottom: 4px solid #33312e;
	overflow-y: scroll;
}

.move {
  display: flex;
  flex-direction: row;
}

.move-index {
  width: 48px;
  padding: 4px;
  background-color: #33312e;
  text-align: center;
}

.move-san {
  flex-grow: 1;
  padding: 4px 8px;
}

#undocontainer,
#movesHeader {
	padding: 8px;
	text-align: center;
	color: #eee;
	font-weight: 700;
}

#movesHeader {
	background-color: #33312e;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	color: inherit;
	cursor: pointer;
}
